* {
    margin: 0;
    padding: 0;
    
}

body {
    font-family: "Poppins";
}

@font-face {
	font-family: "Poppins";
	src: url("../fonts/poppins.ttf");
}

@font-face {
	font-family: "Poppins Bold";
	src: url("../fonts/Poppins-Medium.ttf");
}



.blue {
    background-color: #0475ba;
    color: white;
}

nav {
    display: flex;
    padding: 1rem;
}

.nav-item {
    padding: 1rem;
    text-decoration: none;
    color: white;

}

header {
    display: flex;
    justify-content: space-evenly;
    margin: 100px;
    align-items: center;
}

.image {
    border-radius: 10000px;
    margin: 20px;
    width: 200px;
    height: 200px;
}


.main {
    padding: 40px;
    display: flex;
    justify-content: center;
}

.text {
    width: 800px;
}

.date {
    display: flex;
    justify-content: space-between;

}

.white h2 {
    color: #0475ba;
}

h2 {
    margin-bottom: 10px;
}

ul {
    list-style: none;
}

footer {
    padding: 1rem;
}

@media only screen and (max-width: 600px) {
    header {
        flex-direction: column;
    }

    main h2 {
        padding-left: 50px;
    }
    .text {
        font-size: 0.7rem;
        display: flex;
        justify-content: space-between;
        padding-left: 50px;
    }
    span {
        padding-right: 50px;
    }
  }